/* src/App.css  */
@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a2e;
  color: #eaeaea;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  background-color: #1a1a2e;
}

.main-content.full-width {
  margin-left: 0;
}

.main-content:not(.full-width) {
  margin-left: 250px; 
}

.content-overlay {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #fff;
}

p,
div {
  color: #ccc;
}


.toggle-sidebar-btn {
  position: fixed;
  top: 20px;
  left: 250px;
  background-color: #1a1a2e;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.3s ease;
}

.sidebar.hidden + .toggle-sidebar-btn {
  left: 0;
}



body {
  cursor: url('/src/assets/cursor-default.cur'), auto;
}

a:hover,
button:hover,
.graph-card:hover,
.section:hover {
  cursor: url('/src/assets/cursor-pointer.cur'), pointer;
}

